@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,500;1,12..72,500&display=swap');
body{
    background-color: rgba(200, 255, 180, 1) !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Passero One' !important;
}
/* --------------header------------------- */
header{
    background-color: #b3f1b0;
    font-family: 'Passero One';
}
header li{
    font-size: 22px;

}
header img{
    width: 70px;
}
header h3{
    font-size: 20px;
}
header i{
    font-size: 20px;
}

.header-btn{
    font-size: 30px;
}

/* --------------Foes and Bones------------------- */

.molde{
    object-fit: cover;
    width: 100%;
    height: 400px;
}
.blancoF{
    background-color: white;
}
.puntos{
    background-image: url(img/patron.webp);
    background-size: 400px;
    background-repeat:repeat;
}
.rosaF{
    background-color: #ff75cc;
}
.rosa{
    border-radius: 5px !important;
    background-color: #ff4dbe;
}
.alto{
    height: 40vh;
}
.text-2{
    font-family: "Texturina", serif;
}
.titulo{
    font-size: 5em;
}
.sombra, .sombraR{
    box-shadow: 10px 10px hsl(0, 0%, 0%);
    transition: all 0.3s;
}
.sombra:hover{
    box-shadow: 8px 8px hsl(104, 96%, 65%);
}
.sombraV{
    box-shadow: 10px 10px hsl(104, 96%, 65%);
    transition: all 0.3s;
}
.verde{
    background-color: #87ff7a;
}
.sombraR:hover, .sombraV:hover{
    box-shadow: 8px 8px #ff4dbe;
}
.rosa:hover{
    color: white;
    background-color: #49de39;
    box-shadow: 4px 4px #ff4dbe;
}
.letra{
    font-size: 4em;
}
.blanco{
    color: white;
    text-shadow: 4px 4px hsl(104, 96%, 65%);
}


.pe-auto{
    cursor: pointer;

}
.altaFoto{
    /* object-fit: cover; */
    height: 50vw;
}
@media (min-width: 768px) {
.altura{
    height: 150px;
}
.altaFoto{
    /* object-fit: cover; */
    height: 30vw;
}
}
.negro{
    background-color: black;
}