@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,500;1,12..72,500&display=swap');
body{
    background-color:#ff4dbe !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Passero One' !important;
}
/* --------------general------------------- */
.text-2{
    font-family: "Texturina", serif;
}
.titulo{
    font-size: 5em;
}
.sombra{
    box-shadow: 10px 10px hsl(0, 0%, 0%);
    transition: all 0.3s;
}
.sombra:hover{
    box-shadow: 8px 8px hsl(104, 96%, 65%);
}
.sombraV{
    box-shadow: 10px 10px hsl(104, 96%, 65%);
    transition: all 0.3s;
}
.verde{
    background-color: #7ED957;
}
.sombraV:hover{
    box-shadow: 8px 8px #ff4dbe;
}
.blanco{
    color: white;
}
/* --------------header------------------- */
header{
    background-color: #7ED957;
    font-family: 'Passero One';
    min-height: 10vh;
}
a{
    color: white !important;
}
header a:hover{
    color: #000000 !important;
    text-shadow: 3px 3px #ffffff60;
    font-size: 25px;
    transition: all 0.3s;
}
header li{
    font-size: 22px;
}
header img{
    width: 60px;
}
header h3{
    font-size: 20px;
}
header i{
    font-size: 20px;
}
.header-btn{
    font-size: 30px;
}
/* --------------quienes somos------------------- */
.fondo-sobren{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/sobreNosotros/stickers.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}
.alto{
    height: 50vh;
}
.alto2{
    min-height: 40vh;
}
/* --------------valores e inovación------------------- */
.foto{
    height: 400px;
}
.molde{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.blancoF{
    background-color: white !important;
}
.rosaF{
    background-color: #ff4dbe;
}
.negro{
    background-color: black;
}


.card{
    height: 355px;
}
.card-nosotros{
    height: 250px;
    width: 90%;
}
.texto, .texto1{
    display: none;
    
}
.card:hover .texto{
    display: flex;
}
.card:hover .texto1{
    display: block;
}
.martin{
    background-image: url(img/sobreNosotros/martin2.jpg);
    background-size: cover;
}
.oscuro:hover{
    background-color: rgba(0, 0, 0, 0.408);
    transition: all 0.5s;
}
.muriel{
    background-image:url(img/sobreNosotros/muriel1.jpg);
    background-size: cover;
}
.gino{
    background-image: url(img/sobreNosotros/gino.jpg);
    background-size: cover;
}
.agus{
    background-image: url(img/sobreNosotros/agustin.jpg);
    background-size: cover;
}
.unPocoSobreNosotros{
    min-height: 77%;
}
.unPocoSobreNosotros .card{
    box-shadow: 15px 15px  black ;
}
.unPocoSobreNosotros .card:hover{
    box-shadow: 10px 10px #ff4dbe;
    transition: all 0.5s;
}
/* ------------footer---------- */
footer a:hover{
    color: #000000 !important;
    text-shadow: 3px 3px #ffffff60;
    font-size: 20px;
    transition: all 0.3s;
}